header {
  width: 800px;
  height: 200px;
  border: 2px solid orangered;
  box-sizing: border-box;
  text-align: center;
  padding-top: 50px;
  color: red;
  font-weight: 900;
  font-size: 30px;
}
main {
  display: flex;
}
nav {
  width: 100px;
  height: 400px;
  border: 2px solid yellow;
  box-sizing: border-box;
  font-size: 40px;
  color: blue;
  padding-top: 150px;
  padding-left: 20px;
}
section {
  width: 700px;
  height: 400px;
  border: 2px solid yellow;
  box-sizing: border-box;
  font-size: 40px;
  text-align: center;
  padding-top: 150px;
  color: blueviolet;
}
footer {
  width: 800px;
  height: 200px;
  border: 2px solid gray;
  box-sizing: border-box;
  padding-top: 50px;
  color: red;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}